.advantages {
  padding-bottom: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 108px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding-top: 133px;
    justify-content: start;
  }
}

.advantages__block {
  width: 288px;
  margin: 14px 16px;
  border: 1px solid fade-out($text-color, .7);
  box-sizing: border-box;
  border-radius: 6px;

  display: grid;
  grid-template-rows: auto auto auto 1fr min-content;

  &--econom {
    .advantages__price {
      margin-left: -13px;
    }

    .advantages__item {
      padding: 5px 0;

      &::before {
        top: 18px;
        background-image: url("../img/check-icon__col.svg");
      }
    }
  }

  @media (min-width: $tablet-width) {
    margin: 14px 24px;
  }

  @media (min-width: $desktop-width) {
    width: 370px;
    height: 672px;
    margin: 14px 17px;
    display: block;

    &--econom {
      .advantages__heading {
        padding: 14px 86px 23px 27px;
        line-height: 38px;
        letter-spacing: -1.27273px;
      }

      .advantages__list {
        padding-left: 58px;
        padding-bottom: 0;
      }

      .advantages__item {
        padding: 7px 0;
      }
    }
  }
}

.advantages__heading {
  margin-top: 29px;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  text-align: center;
  color: $darck-color;
  opacity: 0.7;

  @media (min-width: $desktop-width) {
    padding: 10px 30px 31px 31px;
    font-size: 28px;
    display: inline-block;
    text-align: left;
  }
}

.advantages__price {
  margin-top: 10px;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 25px;
  line-height: 34px;
  text-align: center;
  color: $darck-color;
  opacity: 0.7;

  @media (min-width: $desktop-width) {
    display: inline-block;
    text-align: right;
  }
}

.advantages__text {
  margin: 13px 20px;
  padding-bottom: 8px;
  line-height: 24px;
  text-align: center;
  border-bottom: 1px solid fade-out($text-color, 0.5);

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-right: 26px;
    padding-bottom: 26px;
    text-align: left;
  }
}

.advantages__list {
  padding-left: 48px;
  padding-right: 20px;
  margin-bottom: 28px;
  margin-top: 0;

  @media (min-width: $desktop-width) {
    padding: 11px 30px 20px 61px;
  }
}

.advantages__item {
  padding: 4px 0;
  line-height: 32px;
  list-style: none;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    top: 10px;
    left: -30px;
    background-image: url("../img/check-icon.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop-width) {
    padding: 6px 0;
  }
}

.advantages__button {
  @media (min-width: $tablet-width) {
    width: 288px;
  }

  @media (min-width: $desktop-width) {
    width: 310px;
  }
}
