.countrys {
  max-width: 1210px;
  width: 987px;
  margin: 0 auto;
  padding-top: 14px;
  padding-left: 37px;
  overflow-x: scroll;

  @media (max-width: $tablet-width) {
    width: 728px;
    padding-top: 80px;
  }

  @media (max-width: $mobile-width) {
    width: 304px;
    padding-top: 13px;
    padding-left: 16px;
  }

  @media (min-width: $prices-width) {
    width: 100%;
  }
}

.countrys__list {
  padding: 0;
  margin-top: 5px;
  display: flex;
}

.countrys__item {
  list-style: none;
  align-items: start;

  &:first-of-type .countrys__link {
    padding-left: 0;
  }

  &:last-of-type .countrys__link {
    padding-right: 0;
  }
}

.countrys__link {
  display: block;
  padding: 0 50px 15px 50px;
  border-bottom: 1px solid rgba(44, 46, 63, 0.3);

  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.415px;
  text-decoration: none;
  color: $text-color;
  opacity: 0.3;

  &:hover {
    color: $highlight-color;
    opacity: 1;
  }
}
