.desription__heading {
  margin-top: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    margin-bottom: 22px;
  }
}

.description__text {
  margin-bottom: 19px;
  text-align: center;
  letter-spacing: -0.466667px;
  opacity: 0.7;
}
