.feedback {
  padding-top: 36px;
  padding-bottom: 51px;
  background-color: $question-background;
  color: $darck-color;


  @media (min-width: $tablet-width) {
    padding-top: 69px;
    padding-bottom: 75px;
    background-image: url("../img/question-bc.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 5% 50%;
  }

  @media (min-width: $desktop-width) {
    width: 844px;
    height: 455px;
    margin-top: 17px;
    margin-left: 32px;
    padding: 0;
    order: 4;
  }
}

.feedback__form {
  @media (min-width: $tablet-width) {
    width: 658px;
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 50px;
    background-color: $main-background;
    box-shadow: 0px 4px 30px fade-out($shadow-color, 0.9);
    border-radius: 5px;
  }

  @media (min-width: $desktop-width) {
    width: 650px;
    padding-bottom: 48px;
    position: absolute;
    bottom: 70px;
    right: 2.5%;
  }
}

.feedback__wrap {
  padding: 0 16px;
}

.feedback__heading {
  margin-top: 15px;
  margin-bottom: 18px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
  }
}

.feedback__text {
  text-align: center;
  line-height: 150%;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    margin-bottom: 19px;
  }
}

.feedback__inform {
  padding-bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 35px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 5px;
  }
}

.feedback__field {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 15px;
    left: 29px;
    background-image: url("../img/star-icon.svg");
    background-repeat: no-repeat;
  }
}

.feedback__input {
  width: 237px;
  margin: 4px 16px 16px 16px;
  padding: 14px 23px;

  &::placeholder {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $darck-color;
  }

  &--e-mail {
    width: 247px;
    padding-left: 12px;
  }

  @media (min-width: $tablet-width) {
    width: 218px;
    margin-bottom: 20px;

    &--e-mail {
      margin-left: 0;
      width: 229px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 12px;
  }
}

.feedback__button {
  @media (min-width: $desktop-width) {
    width: 176px;
    height: 50px;
  }
}
