.feedback {
  width: 844px;
  height: 455px;
  margin-top: 17px;
  margin-left: 32px;
  color: $darck-color;
  background-color: $question-background;
  background-image: url("../img/question-bc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 5% 50%;
  order: 4;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/question-bc2x.jpg");
  }

  @media (max-width: 1023px) {
    width: auto;
    height: auto;
    margin: 0;
    padding-top: 69px;
    padding-bottom: 72px;
  }

  @media (max-width: 767px) {
    margin: 0;
    padding-top: 57px;
    padding-bottom: 51px;
    background-image: none;
  }
}

.feedback__form {
  width: 650px;
  padding-bottom: 48px;
  padding-top: 35px;
  position: absolute;
  bottom: 70px;
  right: 2.5%;
  background-color: $main-background;
  box-shadow: 0px 4px 30px fade-out($shadow-color, 0.9);
  border-radius: 5px;

  @media (max-width: 1023px) {
    width: 658px;
    margin: 0 auto;
    padding-bottom: 50px;
    position: static;
  }

  @media (max-width: 767px) {
    width: auto;
    margin: 0;
    padding: 0;
    background-color: inherit;
    box-shadow: none;
    border-radius: 0;
  }
}


.feedback__wrap {
  padding: 0 16px;

  @media (max-width: 767px) {
    padding-bottom: 15px;
  }
}

.feedback__heading {
  margin-top: 15px;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  text-align: center;

  @media (max-width: 767px) {
    margin-bottom: 18px;
  }
}

.feedback__text {
  margin-top: 13px;
  margin-bottom: 19px;
  text-align: center;
  line-height: 150%;

  @media (max-width: 767px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.feedback__inform {
  padding: 0 35px;
  padding-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;

  @media (max-width: 767px) {
    padding: 0;
    padding-bottom: 4px;
    justify-content: center;
  }
}


.feedback__field {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    top: 15px;
    left: 29px;
    background-image: url("../img/star-icon.svg");
    background-repeat: no-repeat;
  }
}

.feedback__input {
  width: 218px;
  margin: 4px 12px 20px 16px;
  padding: 14px 23px;

  &::placeholder {
    font-family: "Montserrat", "Arial", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: $darck-color;
  }

  &--e-mail {
    width: 229px;
    margin-left: 0;
    padding-left: 12px;
  }

  @media (max-width: 1023px) {
    margin-right: 16px;

    @media (max-width: 767px) {
      width: 235px;
      margin-bottom: 16px;

      &--e-mail {
        width: 247px;
        margin-left: 16px;
      }
    }
  }
}


.feedback__button {
  width: 176px;
  height: 50px;

  @media (max-width: 1023px) {
    width: 250px;
    height: 50px;
  }

  @media (max-width: 767px) {
    width: 288px;
  }
}
