.main__heading {
  padding-right: 95px;
  color: $main-background;

  &--wrap {
    width: 100%;
    height: 860px;
    position: absolute;
    background-color: $toogle-color;
    background-image: url("../img/header-bc.png");
    background-repeat: no-repeat;
    background-position: 53% 20%;
    background-size: cover;
    z-index: -1;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/header-bc2x.png");
    }
  }

  &--container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 150px 20px 0 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  @media (max-width: 1023px) {
    padding-right: 0;

    br {
      display: none;
    }

    &--wrap {
      height: 344px;
    }

    &--container {
      padding-top: 40px;
      justify-content: center;
    }
  }

  @media (max-width: 767px) {
    &--wrap {
      height: 235px;
      position: relative;
      z-index: 0;
    }

    &--container {
      padding: 66px 50px 0 50px;
    }
  }
}

.main__decorate {
  background-image: url("../img/bc-map.png");
  background-repeat: no-repeat;
  background-position: 50% 7.5%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/bc-map2x.png");
  }

  @media (max-width: 1023px) {
    background-image: none;
  }
}

.main__wrapper {
  max-width: 1210px;
  padding: 0 20px;
  margin: 0 auto;

  display: flex;
  position: relative;
  flex-wrap: wrap;

  @media (max-width: 1023px) {
    padding: 0;
    display: block;
  }
}
