.places {
  padding-top: 380px;

  @media (max-width: 1023px) {
    padding-top: 89px;
  }
}

.places__heading {
  padding-left: 20px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 228px;
    height: 4px;
    bottom: -32px;
    left: 20px;
    background-color: $highlight-color;
  }

  @media (max-width: 1023px) {
    margin-bottom: 23px;
    padding-left: 0;

    br {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.places__text {
  width: 30%;
  padding: 18px 19px;
  text-align: left;
  letter-spacing: -0.466667px;

  @media (max-width: 1023px) {
    width: auto;
    padding: 0 180px;
    text-align: center;
  }

  @media (max-width: 767px) {
    margin-bottom: 12px;
    padding: 0;
  }
}
