.preview__wrap {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
  }
}

.preview__item {
  padding: 13px 16px 13px 16px;
  list-style: none;
  align-items: start;
  position: relative;

  &:first-of-type {
    padding-top: 3px;
  }

  @media (min-width: $tablet-width) {
    padding: 5px 16px 5px 16px;

    &:first-of-type {
      padding-top: 5px;
    }

    &:last-of-type {
      margin-top: 12px;

      @media (min-width: 948px) {
        margin-top: 0;
      }
    }
  }
}

.preview__heading {
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.415px;
  text-align: center;
  color: $text-color;

  &--wrap {
    padding-top: 17px;
    width: 215px;
    height: 44px;
    background-color: $main-background;
    position: absolute;
    bottom: 22px;
    left: 52px;
  }

  @media (min-width: $tablet-width) {
    &--wrap {
      bottom: 13px;
    }
  }
}
