.prices {
  min-width: 300px;
  width: 300px;
  padding-top: 220px;
  padding-left: 90px;
  padding-right: 9px;
  order: 3;

  @media (max-width: $prices-width) {
    width: auto;
    min-width: 668px;
    padding: 0 21px;
    order: 0;
  }

  @media (max-width: $mobile-width) {
    min-width: 260px;
    padding: 0 16px;
  }
}


.prices__heading {
  position: relative;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    width: 175px;
    height: 3px;
    bottom: -25px;
    left: 2px;
    background-color: $highlight-color;
  }

  @media (max-width: $tablet-width) {
    margin-top: 24px;
    margin-left: -13px;
    margin-bottom: 22px;
  }

  @media (max-width: $prices-width) {
    padding-left: 13px;
    text-align: center;

    &::after {
      display: none;
    }
  }
}

.prices__text {
  text-align: left;
  line-height: 170%;
  opacity: 0.7;
  padding-top: 7px;
  padding-bottom: 25px;

  @media (max-width: $prices-width) {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

.prices__network {
  margin-bottom: 11px;
  margin-top: 36px;
  padding-left: 47px;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  text-align: left;
  color: $darck-color;

  @media (max-width: $prices-width) {
    margin-top: 32px;
    font-size: 18px;
    text-align: center;
    padding-left: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
  }
}

.prices__telephone {
  padding-bottom: 15px;
  padding-left: 47px;
  display: block;
  font-size: 20px;
  color: $basik-black;
  text-align: left;
  line-height: 32px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 1px;
    left: -4px;
    background-image: url("../img/phone-icon__col.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: $prices-width) {
    padding-left: 0;
    font-size: 18px;
    color: $highlight-color;
    text-align: center;

    &::before {
      display: none;
    }
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 26px;
  }
}
