.reviews {
  padding-top: 49px;
  padding-bottom: 91px;
  // position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 29px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 63px;
    padding-left: 6px;
  }
}

.reviews__wrap {
  height: 366px;
  padding-top: 51px;
  border-color: inherit;
  background-image: url("../img/greece-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 82%;

  @media (min-width: $tablet-width) {
    padding-top: 78px;
    height: 335px;
    background-image: url("../img/reviews-bc__tablet.png");
  }

  @media (min-width: $desktop-width) {
    width: 430px;
    height: 596px;
    padding-top: 0;
    background-image: url("../img/reviews-bc__desktop.png");
  }
}

.reviews__container {
  width: 268px;
  margin: 0 auto;
  padding-top: 16px;
  height: 415px;
  background-color: $main-background;

  @media (min-width: $tablet-width) {
    width: 382px;
    padding-top: 7px;
  }

  @media (min-width: $desktop-width) {
    width: 382px;
    height: 362px;
    padding-top: 5px;
    position: absolute;
    top: 176px;
    right: 40px;
  }
}

.reviews__heading {
  margin-bottom: 11px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.691667px;

  &--decorate {
    width: 68px;
    height: 1px;
    margin: 0 auto;
    background-color: $highlight-color;
  }

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    font-size: 30px;
    line-height: 37px;
    text-align-last: left;

    &--decorate {
      margin: 0;
      margin-left: 30px;
    }
  }
}

.reviews__text {
  margin-bottom: 9px;
  padding: 7px 20px;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -0.408333px;
  opacity: 0.7;

  @media (min-width: $tablet-width) {
    text-align: left;
    padding: 7px 30px;
  }
}

.person {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-top: 10px;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.person__avatar {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }
}

.person__name {
  margin-top: 3px;
  padding-left: 10px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.466667px;

  @media (min-width: $tablet-width) {
    padding-left: 16px;
    margin-top: 15px;
  }
}
