.tour {
  padding-top: 360px;
  padding-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;

  @media (max-width: 1023px) {
    padding-top: 104px;
    display: block;
  }

  @media (max-width: 767px) {
    padding: 0;
  }
}

.tour__text {
  width: 30%;
  padding: 0 127px;
  margin-left: -5px;
  margin-bottom: 10px;
  text-align: left;
  line-height: 170%;
  letter-spacing: -0.466667px;
  color: $main-background;

  @media (max-width: 1023px) {
    width: auto;
    padding: 0 150px;
    text-align: center;
  }

  @media (max-width: 767px) {
    padding: 5px 16px 10px 16px;
    color: $text-color;
  }
}

.tour__button {
  width: 340px;
  margin: 22px 150px;
  padding-left: 40px;
  justify-content: start;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    right: 40px;
    width: 15px;
    height: 15px;
    background-image: url("../img/arrow-icon.svg");
    background-repeat: no-repeat;
  }

  @media (max-width: 1023px) {
    width: 250px;
    margin: 0 auto;

    &::after {
      top: 17px;
    }
  }

  @media (max-width: 767px) {
    width: 288px;
  }
}
