.tour {
  @media (min-width: $tablet-width) {
    padding-top: 104px;
    padding-bottom: 48px;
  }
}

.tour__text {
  padding-top: 5px;
  padding-bottom: 3px;
  margin-left: -5px;
  text-align: center;
  line-height: 170%;
  letter-spacing: -0.466667px;

  @media (min-width: $tablet-width) {
    padding: 0 150px;
    margin-bottom: 10px;
    color: $main-background;
  }
}

.tour__button {
  justify-content: start;
  padding-left: 40px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 40px;
    width: 15px;
    height: 15px;
    background-image: url("../img/arrow-icon.svg");
    background-repeat: no-repeat;
  }
}
