.corporate {
  width: 26.5%;
  padding-right: 30px;

  @media (max-width: 1023px) {
    width: auto;
    padding-top: 15px;
    padding-right: 0;
    border-top: 1px solid $border-color;
  }

  @media (max-width: 767px) {
    padding-top: 13px;
  }
}


.corporate__text {
  margin-bottom: 25px;
  padding-top: 7px;
  line-height: 170%;
  text-align: left;
  color: $darck-color;
  opacity: 0.5;

  @media (max-width: 1023px) {
    text-align: center;
  }
}
