.travels {
  padding-bottom: 15px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding-bottom: 23px;
    border-bottom: none;
  }
}

.travels__heading {
  margin-left: -10px;
  font-weight: 600;

  @media (min-width: $tablet-width) {
    padding-left: 10px;
    margin-bottom: 15px;
    text-align: left;
  }
}

.travels__wrap {
  padding: 0 23px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.travels__list {
  margin: 0;
  padding: 0;
  padding-right: 11px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  &:last-of-type {
    margin: 0 auto;
    margin-top: 10px;
  }

  @media (min-width: 360px) {
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    padding-right: 45px;
    align-items: flex-start;

    &:last-of-type {
      margin-top: 0;
      padding-left: 7px;
    }
  }
}

.travels__item {
  padding-top: 6px;
  padding-bottom: 4px;
  list-style: none;
  color: $darck-color;
  opacity: 0.5;
}
