.page {
  height: 100%;
}

.body {
  min-height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 28px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0;
  padding: 0;
  background-color: $main-background;
  color: $text-color;
  overflow-x: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  margin: 0 auto;
  text-decoration: none;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 50px;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $main-background;
  background-color: $highlight-color;
  border: none;

  &:hover {
    background-color: $hover-color;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    height: 75px;
  }
}

.block-heading {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  text-align: center;
}

.container {
  min-width: 260px;
  padding: 0 16px;

  // @media (min-width: $tablet-width) {
  //   min-width: 668px;
  //   padding: 0 50px;
  // }

  // @media (min-width: $desktop-width) {
  //   max-width: 1050px;
  //   padding: 0 50px;
  //   margin: 0 auto;
  // }
}
