// Colors

$main-background: #ffffff;
$darck-color: #141517;
$text-color: #2c2e3f;
$highlight-color: #fe7865;
$hover-color: #f17d4b;
$toogle-color: #dadada;
$question-background: #fbf8f8;
$border-color: #D7D9DF;


// Viewports

$tablet-width: 768px;
$desktop-width: 1024px;
$mobile-width-only: 767px;
