.header-navigation {
  background-color: $main-background;
  color: inherit;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.header-navigation__toggle {
  position: absolute;
  top: -45px;
  right: 8px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: $highlight-color;

  outline: none;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.header-navigation--closed .header-navigation__toggle::before {
  content: "";
  position: absolute;
  top: 25%;
  left: 25%;
  width: 22px;
  height: 1px;
  background-color: $highlight-color;
  box-shadow: 0 6px 0 0 $toogle-color, 0 12px 0 0 $toogle-color, 0 18px 0 0 $toogle-color;
}

.header-navigation--opened .header-navigation__toggle {

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 7px;
    left: -2px;
    width: 25px;
    height: 2px;
    background-color: inherit;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

// Display without JS
@media (max-width: $mobile-width-only) {
  .header-navigation--closed .header-navigation__item {
    display: none;
  }

  .header-navigation--nojs .header-navigation__toggle {
    display: none;
  }

  .header-navigation--nojs .header-navigation__list {
    position: static;
    min-height: 0;
  }

  .header-navigation--nojs .header-navigation__item {
    display: flex;
    align-items: center;

    a {
      margin-left: 76px;
    }
  }

  .header-navigation--nojs .header-navigation__item--decktop {
    display: none;
  }
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @media (min-width: $desktop-width) {
    margin: 0;
    padding: 0;
    justify-content: space-between;
  }
}

.navigation__item {
  list-style: none;

  @media (min-width: $desktop-width) {
    padding: 33px 20px;

    &:last-of-type {
      padding: 38px 34px 28px 71px;
      position: relative;
    }
  }
}

.navigation__link {
  color: $darck-color;
  text-decoration: none;

  &--telephone {
    display: none;
  }

  @media (min-width: $desktop-width) {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;

    &--telephone {
      font-size: 18px;
      line-height: 32px;
      display: block;
      text-decoration: underline;

      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
        top: 43px;
        left: 41px;
        background-image: url("../img/phone-icon.svg");
        background-repeat: no-repeat;
      }
    }
  }
}
